<div class="field has-addons number-stepper js-number-stepper">
  <p class="control">
    <button
      type="button"
      class="button number-stepper__button number-stepper__button--decrement js-number-stepper-button"
      data-stepper-action="decrement"
      aria-label="Decrease value"
    >
      <span class="icon is-small" aria-hidden="true">
        <i class="fas fa-minus"></i>
      </span>
    </button>
  </p>

  <p class="control number-stepper__value-control">
    <input
      type="{{ widget.type }}"
      name="{{ widget.name }}"
      {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}
      {% include "django/forms/widgets/attrs.html" %}
    >
  </p>

  <p class="control">
    <button
      type="button"
      class="button number-stepper__button number-stepper__button--increment js-number-stepper-button"
      data-stepper-action="increment"
      aria-label="Increase value"
    >
      <span class="icon is-small" aria-hidden="true">
        <i class="fas fa-plus"></i>
      </span>
    </button>
  </p>
</div>
